# example values

indexing-settings:
  sites:
    - url: https://www.playback.ru
      name: playback
    - url: https://dombulgakova.ru
      name: dombulgakova

server:
  port: 8082


spring:
  datasource:
    username: root
    password: testtest
    url: jdbc:mysql://localhost:3306/search_engine?useSSL=false&requireSSL=false&allowPublicKeyRetrieval=true
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_inserts: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    show-sql: false